In [1]:
import pandas as pd

In [2]:
change_df = pd.read_excel('../data/회계감사인현황.xlsx')

In [3]:
change_df

            회사명  거래소코드     회계년도     회계년월    회계감사법인
0      (주)CMG제약  58820  2011/12  2011/12    이촌회계법인
1      (주)CMG제약  58820  2012/12  2012/12    이촌회계법인
2      (주)CMG제약  58820  2013/12  2013/12    이촌회계법인
3      (주)CMG제약  58820  2014/12  2014/12    이촌회계법인
4      (주)CMG제약  58820  2015/12  2015/12  한길우림회계법인
...         ...    ...      ...      ...       ...
17560   흥구석유(주)  24060  2018/12  2018/12    삼원회계법인
17561   흥구석유(주)  24060  2019/12  2019/12    삼원회계법인
17562   흥구석유(주)  24060  2020/12  2020/12    선일회계법인
17563   흥구석유(주)  24060  2021/12  2021/12    선일회계법인
17564   흥구석유(주)  24060  2022/12  2022/12    선일회계법인

[17565 rows x 5 columns]

In [4]:
change_df = change_df.drop_duplicates()
change_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17487 entries, 0 to 17564
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     17487 non-null  object
 1   거래소코드   17487 non-null  int64
 2   회계년도    17487 non-null  object
 3   회계년월    17360 non-null  object
 4   회계감사법인  17360 non-null  object
dtypes: int64(1), object(4)
memory usage: 819.7+ KB

In [7]:
a =change_df.groupby(["회사명", "거래소코드", "회계년도"])["회계감사법인"].apply(list)

In [8]:
a

회사명       거래소코드  회계년도
(주)CMG제약  58820  2011/12      [이촌회계법인]
                 2012/12      [이촌회계법인]
                 2013/12      [이촌회계법인]
                 2014/12      [이촌회계법인]
                 2015/12    [한길우림회계법인]
                               ...
흥구석유(주)   24060  2018/12      [삼원회계법인]
                 2019/12      [삼원회계법인]
                 2020/12      [선일회계법인]
                 2021/12      [선일회계법인]
                 2022/12      [선일회계법인]
Name: 회계감사법인, Length: 17487, dtype: object

In [9]:
df_a = pd.DataFrame(a)
df_a

                            회계감사법인
회사명      거래소코드 회계년도
(주)CMG제약 58820 2011/12    [이촌회계법인]
               2012/12    [이촌회계법인]
               2013/12    [이촌회계법인]
               2014/12    [이촌회계법인]
               2015/12  [한길우림회계법인]
...                            ...
흥구석유(주)  24060 2018/12    [삼원회계법인]
               2019/12    [삼원회계법인]
               2020/12    [선일회계법인]
               2021/12    [선일회계법인]
               2022/12    [선일회계법인]

[17487 rows x 1 columns]

In [10]:
df_a['다음년도_감사법인_변경여부'] = (df_a['회계감사법인'] != df_a['회계감사법인'].shift(1))

In [11]:
df_a

                            회계감사법인  다음년도_감사법인_변경여부
회사명      거래소코드 회계년도
(주)CMG제약 58820 2011/12    [이촌회계법인]            True
               2012/12    [이촌회계법인]           False
               2013/12    [이촌회계법인]           False
               2014/12    [이촌회계법인]           False
               2015/12  [한길우림회계법인]            True
...                            ...             ...
흥구석유(주)  24060 2018/12    [삼원회계법인]            True
               2019/12    [삼원회계법인]           False
               2020/12    [선일회계법인]            True
               2021/12    [선일회계법인]           False
               2022/12    [선일회계법인]           False

[17487 rows x 2 columns]

In [12]:
df_a.loc[df_a.groupby(['회사명', '거래소코드']).head(1).index, '다음년도_감사법인_변경여부'] = False

In [13]:
df_a['감사법인 변경 횟수'] = df_a.groupby(['회사명', '거래소코드'])['다음년도_감사법인_변경여부'].cumsum()

In [15]:
df_a = df_a.reset_index()

In [20]:
df_a['회계년도'] = pd.to_datetime(df_a['회계년도'], format='%Y/%m')

C:\Users\kyaa0\AppData\Local\Temp\ipykernel_4060\2804703330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a['회계년도'] = pd.to_datetime(df_a['회계년도'], format='%Y/%m')

In [21]:
df_a = df_a[['회사명','거래소코드','회계년도','감사법인 변경 횟수']]

In [22]:
main_df = pd.read_excel('./메인데이터프레임.xlsx',index_col=0)
main_df

,회사명,시장종류,거래소코드,회계년도,상장일,label,평균근속연수,설립일,주거래은행,R&D 비용,업력,임원진 주식 보유,최대주주변경 횟수
0,(주)CMG제약,kosdaq,58820,2011-12-01,2001-08-31,0,3년8개월,2001/08/01,KEB하나은행,3.08,10,0.00,0
1,(주)CMG제약,kosdaq,58820,2012-12-01,2001-08-31,0,2.9,2001/08/01,KEB하나은행,2.58,11,0.00,1
2,(주)CMG제약,kosdaq,58820,2013-12-01,2001-08-31,0,3.94,2001/08/01,KEB하나은행,31.98,12,0.00,1
3,(주)CMG제약,kosdaq,58820,2014-12-01,2001-08-31,0,2.69,2001/08/01,KEB하나은행,18.64,13,0.00,1
4,(주)CMG제약,kosdaq,58820,2015-12-01,2001-08-31,0,3.31,2001/08/01,KEB하나은행,22.22,14,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17482,흥구석유(주),kosdaq,24060,2018-12-01,1994-12-07,0,6.02,1966/12/16,DGB대구은행,NaN,24,33.09,3
17483,흥구석유(주),kosdaq,24060,2019-12-01,1994-12-07,0,6.23,1966/12/16,DGB대구은행,NaN,25,31.19,3
17484,흥구석유(주),kosdaq,24060,2020-12-01,1994-12-07,0,7.54,1966/12/16,DGB대구은행,NaN,26,29.86,3
17485,흥구석유(주),kosdaq,24060,2021-12-01,1994-12-07,0,7.61,1966/12/16,DGB대구은행,NaN,27,29.86,3
17486,흥구석유(주),kosdaq,24060,2022-12-01,1994-12-07,0,7.8,1966/12/16,DGB대구은행,NaN,28,29.86,3

In [23]:
main_df = pd.merge(left=main_df,right=df_a,on=['회사명','거래소코드','회계년도'],how='left')

In [25]:
main_df.to_excel('./메인데이터프레임.xlsx')