In [1]:
import pandas as pd

In [3]:
export_df= pd.read_excel('../data/수출액.xlsx',index_col=0)
import_df = pd.read_excel('../data/매출액.xlsx',index_col=0)

In [5]:
export_df = export_df.reset_index()

In [12]:
export_df

            회사명  거래소코드     회계년도  [제조]*수출(IFRS연결)
0      (주)CMG제약  58820  2011/12              0.0
1      (주)CMG제약  58820  2012/12              0.0
2      (주)CMG제약  58820  2013/12         168000.0
3      (주)CMG제약  58820  2014/12         154000.0
4      (주)CMG제약  58820  2015/12         110000.0
...         ...    ...      ...              ...
17482   흥구석유(주)  24060  2018/12              NaN
17483   흥구석유(주)  24060  2019/12              NaN
17484   흥구석유(주)  24060  2020/12              NaN
17485   흥구석유(주)  24060  2021/12              NaN
17486   흥구석유(주)  24060  2022/12              NaN

[17487 rows x 4 columns]

In [8]:
import_df = import_df.reset_index()

In [10]:
import_df = import_df.drop_duplicates()

In [11]:
import_df

            회사명  거래소코드     회계년도  [제조]매출액(수익)(요약)(IFRS연결)
0      (주)CMG제약  58820  2011/12                  17752.0
1      (주)CMG제약  58820  2012/12                  16255.0
4      (주)CMG제약  58820  2013/12                  20402.0
12     (주)CMG제약  58820  2014/12                  22753.0
21     (주)CMG제약  58820  2015/12                  27042.0
...         ...    ...      ...                      ...
65253   흥구석유(주)  24060  2018/12                      NaN
65254   흥구석유(주)  24060  2019/12                      NaN
65255   흥구석유(주)  24060  2020/12                      NaN
65256   흥구석유(주)  24060  2021/12                      NaN
65257   흥구석유(주)  24060  2022/12                      NaN

[17487 rows x 4 columns]

In [13]:
export_company_df = pd.merge(left=export_df,right=import_df,on=['회사명','거래소코드','회계년도'],how='left')

In [16]:
export_company_df = export_company_df.rename(columns={'[제조]*수출(IFRS연결)':'수출액',
                                  '[제조]매출액(수익)(요약)(IFRS연결)':'매출액'})

In [17]:
export_company_df['수출기업여부'] = (export_company_df['수출액'] / export_company_df['매출액'] * 100 > 50).astype(int)

In [19]:
export_company_df.to_excel('./수출기업여부.xlsx')