In [11]:
import pandas as pd

In [12]:
person_df = pd.read_excel('../data/직원증감.xlsx')

In [13]:
person_df

            회사명  거래소코드     회계년도  합계_기말인원
0      (주)CMG제약  58820  2010/12    129.0
1      (주)CMG제약  58820  2011/12    135.0
2      (주)CMG제약  58820  2012/12    134.0
3      (주)CMG제약  58820  2013/12    136.0
4      (주)CMG제약  58820  2014/12    164.0
...         ...    ...      ...      ...
18781   흥구석유(주)  24060  2018/12     84.0
18782   흥구석유(주)  24060  2019/12     79.0
18783   흥구석유(주)  24060  2020/12     68.0
18784   흥구석유(주)  24060  2021/12     71.0
18785   흥구석유(주)  24060  2022/12     69.0

[18786 rows x 4 columns]

In [14]:
person_df['이전_년도_기말인원'] = person_df.groupby(["회사명", "거래소코드"])["합계_기말인원"].shift(1)

In [15]:
person_df['직원수 증감'] = ((person_df['합계_기말인원'] - person_df['이전_년도_기말인원']) / person_df['이전_년도_기말인원'])*100

In [16]:
person_df['직원수 증감'] = person_df['직원수 증감'].round(2)

In [17]:
person_df = person_df[['회사명','거래소코드','회계년도','직원수 증감']]

In [18]:
person_df['회계년도'] = pd.to_datetime(person_df['회계년도'],format='%Y/%m')

C:\Users\kyaa0\AppData\Local\Temp\ipykernel_6688\2518799382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  person_df['회계년도'] = pd.to_datetime(person_df['회계년도'],format='%Y/%m')

In [19]:
main_df = pd.read_excel('./메인데이터프레임.xlsx',index_col=0)
main_df

,회사명,시장종류,거래소코드,회계년도,상장일,label,평균근속연수,설립일,주거래은행,R&D 비용,업력,임원진 주식 보유,최대주주변경 횟수,감사법인 변경 횟수,수출기업여부
0,(주)CMG제약,kosdaq,58820,2011-12-01,2001-08-31,0,3년8개월,2001/08/01,KEB하나은행,3.08,10,0.00,0,0,0
1,(주)CMG제약,kosdaq,58820,2012-12-01,2001-08-31,0,2.9,2001/08/01,KEB하나은행,2.58,11,0.00,1,0,0
2,(주)CMG제약,kosdaq,58820,2013-12-01,2001-08-31,0,3.94,2001/08/01,KEB하나은행,31.98,12,0.00,1,0,1
3,(주)CMG제약,kosdaq,58820,2014-12-01,2001-08-31,0,2.69,2001/08/01,KEB하나은행,18.64,13,0.00,1,0,1
4,(주)CMG제약,kosdaq,58820,2015-12-01,2001-08-31,0,3.31,2001/08/01,KEB하나은행,22.22,14,0.00,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17482,흥구석유(주),kosdaq,24060,2018-12-01,1994-12-07,0,6.02,1966/12/16,DGB대구은행,NaN,24,33.09,3,2,0
17483,흥구석유(주),kosdaq,24060,2019-12-01,1994-12-07,0,6.23,1966/12/16,DGB대구은행,NaN,25,31.19,3,2,0
17484,흥구석유(주),kosdaq,24060,2020-12-01,1994-12-07,0,7.54,1966/12/16,DGB대구은행,NaN,26,29.86,3,3,0
17485,흥구석유(주),kosdaq,24060,2021-12-01,1994-12-07,0,7.61,1966/12/16,DGB대구은행,NaN,27,29.86,3,3,0
17486,흥구석유(주),kosdaq,24060,2022-12-01,1994-12-07,0,7.8,1966/12/16,DGB대구은행,NaN,28,29.86,3,3,0

In [20]:
main_df = pd.merge(left=main_df,right=person_df,on=['회사명','거래소코드','회계년도'],how='left')

In [21]:
main_df.to_excel('./메인데이터프레임2.xlsx')